body {
    padding: 0;
    margin: 0;
  
}
.header{
  background: #fff;
  width: 100%;
  height: 120px;
   
}
 /*logo image*/
.logo{
  float: left;
  margin-left: 5%;
  margin-top: 2%;
  display: block;
}

/*Search Icon Style*/


.logbtn{
  float: left;
  display: block;
  position: relative;
  left: 15%;
  top: 33%;
}

.logbtn button{
  background: #000;
  color: #fff;  
  padding:10px 20px;
  font-weight: bolder;
  border: 2px solid #000;
  border-radius: 5px;
} 
.logbtn:hover button{
  cursor: pointer;
  box-shadow: 5px 5px 5px #95a5a6;
} 

/*Departement List Button*/ 
.navbar {
  margin-top: 3%;
  margin-left: 8%;
  float: left;
  overflow: hidden;
  width: 450px;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  font-family: Verdana;
  overflow: hidden;
  margin-left: 30px;
  border-radius: .25em;
  box-shadow: 0 5px 10px #888888;

}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #000;
  
  padding: 0px 0px 0px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #000;
  color: #fff;
 border-radius: .25em;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#caret-down{
  background: #000;
  color: #fff;
  padding: 12px 8px 12px 8px;
  margin-left: 20px;
  font-size: 20px;
}